<h1><%= @task.title %></h1>
<button class="btn btn-light text-dark edit-btn"><%= link_to "Edit this page", edit_task_path %></button>
<div class="alert alert-secondary" role="alert">
  <p><%= @task.details %></p>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="completed">
    <% if @task.completed == true %>
    <label class="form-check-label active" for="completed">
      This task is completed
    <% else %>
      <label class="form-check-label" for="completed">
      This task is not yet completed
    <% end %>
  </label>
</div>


<%= link_to 'Tasks', index_path %>
